@model AppProcesso.Models.Processo
@{
    Layout = "~/Views/Shared/_Clear.cshtml";
    ViewData["Title"] = "Visualizar Processo";
}

<div class="form-horizontal">
    <hr />
    <form asp-action="" method="post" id="processoForm">
        <div class="form-group">
            <table>
                <tr>
                    <td width="500px">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control" maxlength="50" placeholder="nome completo" disabled  />
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td width="400px">
                        <label asp-for="Npu"></label>
                        <input asp-for="Npu" type="text" id="npuinput" class="form-control" maxlength="20" placeholder="informe código NPU"
                               required oninput="this.value = this.value.replace(/[^0-9]/g, ''); mascara(this);" disabled />
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td width="200px">
                        <label id="dataCadastro">Data de Cadastro</label>
                        <input asp-for="DataCadastro" id="datacadastro" class="form-control" disabled />
                    </td>
                    <td width="20px"></td>
                    <td width="200px">
                        <label id="dataVisualizacao">Data de Visualização</label>
                        <input asp-for="DataVisualizacao" id="dataVisualizacao" class="form-control" disabled />
                    </td>

                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td width="250px">
                        <label id="UF">Estado</label>
                        <select asp-for="UF" id="ufselect" class="form-control" disabled>
                            <option value="">Selecione um estado</option>
                            <option value="AC">AC - Acre</option>
                            <option value="AL">AL - Alagoas</option>
                            <option value="AP">AP - Amapá</option>
                            <option value="AM">AM - Amazonas</option>
                            <option value="BA">BA - Bahia</option>
                            <option value="CE">CE - Ceará</option>
                            <option value="DF">DF - Distrito Federal</option>
                            <option value="ES">ES - Espírito Santo</option>
                            <option value="GO">GO - Goiás</option>
                            <option value="MA">MA - Maranhão</option>
                            <option value="MT">MT - Mato Grosso</option>
                            <option value="MS">MS - Mato Grosso do Sul</option>
                            <option value="MG">MG - Minas Gerais</option>
                            <option value="PA">PA - Pará</option>
                            <option value="PB">PB - Paraíba</option>
                            <option value="PR">PR - Paraná</option>
                            <option value="PE">PE - Pernambuco</option>
                            <option value="PI">PI - Piauí</option>
                            <option value="RJ">RJ - Rio de Janeiro</option>
                            <option value="RN">RN - Rio Grande do Norte</option>
                            <option value="RS">RS - Rio Grande do Sul</option>
                            <option value="RO">RO - Rondônia</option>
                            <option value="RR">RR - Roraima</option>
                            <option value="SC">SC - Santa Catarina</option>
                            <option value="SP">SP - São Paulo</option>
                            <option value="SE">SE - Sergipe</option>
                            <option value="TO">TO - Tocantins</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td width="350px">
                        <label for="municipio">Municipio</label>
                        <select asp-for="Municipio" id="municipio" class="form-control" required disabled>
                            <option value="">Selecione um estado primeiro</option>
                        </select>
                        <input type="hidden" id="codigoMunicipio" value="@Model.Municipio" />
                        <input asp-for="Id" type="hidden" value="@Model.Id" />
                    </td>
                </tr>
                

                
            </table>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <button id="btEditar" class="btn btn-primary btn-sm">Editar Dados</button>
                    <button type="button" id="btGravar" class="btn btn-primary bt-sm visually-hidden" onclick="persistirDados()">Gravar</button>
                </div>
                <div class="col"></div>
                <div class="col text-end">
                    <button class="btn btn-danger btn-sm" id="closeModalButton">Fechar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#detalhesModal').on('shown.bs.modal', function () {
            const id = document.getElementById('codigoMunicipio').value;
            if (id) {
                carregarMunicipios();
                getMunicipioNome(id);
            }
            const npuInput = document.getElementById('npuinput');
            mascara(npuInput);
        });
    });

    async function getMunicipioNome(id) {
        await new Promise(resolve => setTimeout(resolve, 50));
        const response = await fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/municipios/${id}`);
        if (response.ok) {
            const data = await response.json();
            const municipioSelect = document.getElementById('municipio');
            municipioSelect.innerHTML += `<option value="${data.id}" selected>${data.nome}</option>`;
        } else {
            throw new Error('Erro ao buscar o nome do município');
        }
    }

    function carregarMunicipios() {
        var ufSelect = document.getElementById('ufselect');
        var event = new Event('change');
        ufSelect.dispatchEvent(event);
    }
</script>

<script>
    document.getElementById('ufselect').addEventListener('change', function () {
        var uf = this.value;
        var municipiosSelect = document.getElementById('municipio');
        municipiosSelect.innerHTML = '<option value="">Carregando...</option>';
        fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${uf}/municipios`)
            .then(response => response.json())
            .then(data => {
                municipiosSelect.innerHTML = '<option value="">Selecione um município</option>';
                data.sort((a, b) => a.nome.localeCompare(b.nome));
                data.forEach(distrito => {
                    var option = document.createElement('option');
                    option.value = distrito.id;
                    option.text = distrito.nome;
                   municipiosSelect.appendChild(option);
                });
            })
            .catch(error => {
                municipiosSelect.innerHTML = '<option value="">Erro ao carregar município</option>';
                console.error('Erro:', error);
            });
    });

</script>
<script>
    function persistirDados() {
        var form = document.getElementById('processoForm');
        form.action = 'Processo/edit';  
        form.submit();
    }
</script>
<script>
    document.getElementById('btEditar').addEventListener('click', function (event) {
        event.preventDefault(); 
        var inputs = document.querySelectorAll('input, select');
        inputs.forEach(function (input) {
            input.disabled = false; 
        });
        document.getElementById('btEditar').classList.add('visually-hidden'); 
        document.getElementById('btGravar').classList.remove('visually-hidden'); 
    });

    document.getElementById('closeModalButton').addEventListener('click', function () {
        var inputs = document.querySelectorAll('input, select');
        inputs.forEach(function (input) {
            input.disabled = true; 
        });
        document.getElementById('btEditar').classList.remove('visually-hidden'); 
        document.getElementById('btGravar').classList.add('visually-hidden'); 
    });
</script>

<script>
    function mascara(input) {
        let value = input.value.replace(/\D/g, '');
        value = value.replace(/(\d{7})(\d{2})(\d{4})(\d{1})(\d{2})(\d{4})/, '$1-$2.$3.$4.$5.$6');
        input.value = value;
    }
</script>






